.file-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;

  .file-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .anticon {
      margin-right: 8px;
    }
  }
}
