@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
}

body {
  font-family: 'Nunito Sans', sans-serif;
}
